404.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title your site</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="overlay"></div>
    <main id="main">
      <div class="page-error">
        <div class="page-error__inner">
          <div class="text-center"><a class="page-error__logo" href=""></a></div>
          <div class="page-error__title"><img class="page-error__title-img" src="img/404.svg" alt=""></div>
          <p class="page-error__text">Запрашиваемая страница не найдена</p>
          <div class="text-center"><a class="page-error__btn" href="">На Главную</a></div>
        </div>
      </div>
    </main>
    <script src="js/app.js"></script>
  </body>
</html>

src/pug/404.pug
extends layout/_layout

block content
	.page-error
		.page-error__inner
			.text-center
				a(href="").page-error__logo
			.page-error__title
				img(src="img/404.svg" alt="").page-error__title-img
			p.page-error__text Запрашиваемая страница не найдена
			.text-center
				a(href="").page-error__btn На Главную
